html, body {
  font-family: arial, verdana, helvetics, sans-serif;
  color: rgba(255,255,255,0.4);
  background:
    radial-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.95)
    ), 
    linear-gradient(-50deg, rgba(136,14,79 ,1), rgba(49,27,146 ,1))
}


body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(255,255,255,0.2);
}

button {
  outline: 0;
}

.btn-link {
  display: inline-block;
  background: none;
  border: none;
  color: inherit;
  padding: 0.2em 0.6em;
  transition: color 200ms;
}

.btn-link:hover {
  color: rgba(255,255,255,0.6);
}

#FX-DragWindow {
  position: absolute;
  top: 0;
  right: 8em;
  left: 8em;
  height: 0px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 16px solid rgba(255,255,255,0.1);
  cursor: move;
  -webkit-app-region: drag;
}

#FX-WindowActions {
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 8px;
  text-align: center;
  user-select: none;
}

#FX-WindowActions .fx-actionBtn {
  width: 32px;
  background: none;
  border: none;
  color: rgba(255,255,255,0.3);
  transition: border 200ms, color 200ms;
  cursor: pointer;
}
#FX-WindowActions .fx-actionBtn:hover {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.6);
}

.fx-headerWrap {
  position: absolute;
  top: 24px;
  right: 0;
  left: 0;
  height: 44px;
}

.fx-headerWrap .fx-userWrap {
  position: absolute;
  padding: 2px 6px;
  top: 11px;
  right: 16px;
  border: 1px solid rgba(255,255,255,0.1);
}

#FX-Content,
#FX-Footer {
  position: absolute;
  right: 0px;
  left: 0px;
}

#FX-Content {
  position: absolute;
  top: 69px;
  bottom: 32px;
}

.fixed-action-btn {
  right: 24px;
  bottom: 48px;
  user-select: none;
}

#FX-Footer {
  position: absolute;
  bottom: 0;
  height: 32px;
  padding-left: 1em;
  padding-right: 1em;
  user-select: none;
  border-top: 1px solid rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.1);
}

.fx-ftContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 6px;
}

.fx-contentWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fx-contentWrap .fx-contentMain {
  padding: 0 1em;
}

.fx-contentWrap .fx-contentMain {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto 
}

.fx-contentWrap .fx-contentMain #FX-Loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.fx-collection {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.fx-collection .fx-collItem {
  flex-grow: 1;
  margin: 1em;
  min-width: 168px;
  max-width: 168px;
}

.fx-colorChoose {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap
}

.fx-colorChoose .fx-colorWrap {
  margin: 4px;
}

.fx-colorChoose .fx-colorWrap .fx-label > div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  opacity: 0.6;
  border: 2px solid transparent;
}

.fx-colorChoose .fx-colorWrap .fx-label .active {
  border: 2px solid #fff;
  opacity: 1;
}

.fx-colorChoose .fx-colorWrap .fx-radio + .fx-label .active {
  display: none;
}

.fx-colorChoose .fx-colorWrap .fx-radio:checked + .fx-label .active {
  display: block;
}

.fx-colorChoose .fx-colorWrap .fx-radio + .fx-label .inactive {
  display: block;
}

.fx-colorChoose .fx-colorWrap .fx-radio:checked + .fx-label .inactive {
  display: none;
}

.fx-collItem {
  border-top: 1px solid rgba(255,255,255,0.3);
  border-radius: 3px;
  padding: 1em;
  position: relative;
  background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
  transition: background 200ms;
}

.fx-collItem:hover {
  background: linear-gradient(0deg, rgba(255,255,255,0.05), rgba(255,255,255,0.15));
}

.fx-collItem .fx-collHeader {
  color: rgba(255,255,255,0.8);
  padding-right: 24px;
}

.fx-collItem .fx-collHeader h4 {
  line-height 1;
  padding: 0;
  margin: 0;
  margin-bottom: 0.4em;
  font-size: 1em
}

.fx-collItem .fx-collInfo .fx-collInfoWrap {
  padding-bottom: 48px;
  user-select: none;
}

.fx-collItem .fx-collInfo .fx-collInfoWrap .fx-collCreated,
.fx-collItem .fx-collInfo .fx-collInfoWrap .fx-collModified {
  display: inline-block;
  font-size: 0.8em;
}

.fx-collItem .fx-collInfo .fx-collItems {
  position: absolute;
  top: 13px;
  right: 1em;
  font-size: 0.8em;
  color: rgba(255,255,255,0.8);
  padding: 0em 0.2em;
  min-width: 16px;
  text-align: center;
  border-radius: 4px;
}

.fx-collItem .fx-collInfo .fx-collAction {
  position: absolute;
  bottom: 1em;
  right: 1em;
  left: 0;
  text-align: right;
  user-select: none;
}

.fx-collItem .fx-collInfo .fx-collAction button {
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  background: none;
  width: 32px;
  height: 32px;
  line-height: 12px;
  color: rgba(255,255,255,0.4);
  cursor: pointer;
  transition: border 200ms, color 200ms;
}

.fx-collItem .fx-collInfo .fx-collAction button:hover {
  border: 2px solid rgba(255,255,255,1) !important;
  color: rgba(255,255,255,1) !important;
}

.fx-collItemsWrap {

}

.fx-collItemsWrap header h4 {
  font-size: 1.4em;;
  vertical-align: middle;
}

.fx-collItemsWrap header h4 span, 
.fx-collItemsWrap header h4 small {
  display: inline-block;
}

.fx-collItemsWrap header h4 small {
  color: rgba(255,255,255,0.3);
}

.fx-collItemsWrap header .fx-back {
  background: none;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  font-size: 1em;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

/*.fx-collItemsWrap .fx-collItems {
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.fx-collItemsWrap .fx-collItems .fx-refx {
  flex-grow: 1;
}*/

.fx-collItemsWrap .fx-collItems {

}

.fx-collItemsWrap .fx-collItems {

}

.fx-collItemsWrap .fx-collItems .fx-refx {
  float: right;
  margin: 0.2em;
}

.input-field label {
  color: rgba(255,255,255,0.3);
}
.input-field input[type=text] {
  color: rgba(255,255,255,0.6);
}
/* label focus color */
.input-field input[type=text]:focus + label.active {
  color: #5c6bc0  ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #5c6bc0   !important;
  box-shadow: 0 1px 0 0 #5c6bc0   !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #5c6bc0   !important;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #5c6bc0   !important;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
  .input-field .prefix.active {
  color: #000;
}


/*#DropArea {
  background-color: rgba(0,0,0,0.3);
  color: #a2a2a2;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
body[dragging="true"] #DropArea {
  display: block;
}*/