html, body {
  background:
    radial-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.95)
    ), 
    linear-gradient(-50deg, rgba(136,14,79 ,1), rgba(49,27,146 ,1))
}


body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(255,255,255,0.2);
}

#FX-DragWindow {
  position: absolute;
  top: 0;
  right: 8em;
  left: 8em;
  height: 0px;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  border-top: 16px solid rgba(255,255,255,0.1);
  cursor: move;
}

#FX-WindowActions {
  position: absolute;
  display: inline-block;
  top: 8px;
  right: 8px;
  text-align: center;
}

.fx-actionBtn {
  width: 32px;
  background: none;
  border: none;
  color: rgba(255,255,255,0.1);
}

#DropArea {
  background-color: rgba(0,0,0,0.3);
  color: #a2a2a2;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
body[dragging="true"] #DropArea {
  display: block;
}